
body {
  margin: 0;
  background-color: lightgray;
}
nav {
  background-color: gray;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.center {
  text-align:center;
}

.btn {
  border: 10px solid #165ac4;
  background: red;
  color: black;
  paddling: 5px;
  border-radius: 5px;
}

.post {
  margin: 8px;
}

h2 {
  font-family: Lato;
}

nav ul li {
  margin : 30px 30px;
  font-family: 'outfit';
  font-size: 22px
  border-radius: 10px;
  border: 2px solid black;
  padding: 30px;
}

nav  ul li a {
  text-decoration: none;
  color: black;
}
